* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

[class*="column-"] {
  float: left;
  margin: 10px;
  min-height: 7px;
}

.row::after,
.row::before {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.column-1 {
  background-color: #FFFF00;
  width: calc(8.333% - 20px);
}

.column-2 {
  background-color: #AFFF00;
  width: calc(16.666% - 20px);
}

.column-3 {
  background-color: #1EE2A6;
  width: calc(25% - 20px);
}

.column-4 {
  background-color: #01B6AD;
  width: calc(33.333% - 20px);
}

.column-5 {
  background-color: #9C42D1;
  width: calc(50% - 20px);
}

.column-6 {
  background-color: #D126A9;
  width: calc(100% - 20px);
}


/* width: calc(8.33% -1%) */
/* width: calc(medida del bloque - medida del margen); */
